
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}

:root{
    /* || Primary Color */
    --light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);

    /* || Secondary Color */
    /* background */
    --Light-slate-blue-: hsl(252, 100%, 67%);
    --Light-royal-blue: hsl(241, 81%, 54%);

    /* Circle */
    --Violetblue : hsla(256, 72%, 46%, 1);
    --Persianblue : hsla(241, 72%, 46%, 0);


    /* || Neutral Color */
    --White: hsl(0, 0%, 100%);
    --Paleblue: hsl(221, 100%, 96%);
    --Lightlavender: hsl(241, 100%, 89%);
    --Darkgrayblue: hsl(224, 30%, 27%);
}


body{
    font-size: 18px;
   /* font-family: "Hanken Grotesk", sans-serif; */
   font-family: "figtree", sans-serif; 
    
}
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

    
section{
    height: 100vh;
    overflow-x: hidden;
}



/* Mobile view */

.card1{
    height: 400px;
    background: linear-gradient(to top, var(--Light-royal-blue), var(--Light-slate-blue-));;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}


.card1text{
    padding: 2rem;
    }
    h3{
        text-align: center;
        color: var(--Lightlavender);
        font-size: 1.3rem;
        margin-bottom: 30px;
    }
    
.scoreboard{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 150px;
    }
    .scorecenter{
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        border-radius: 50%;
        z-index: 100;
        text-align: center;
        background-image: linear-gradient(to bottom, var(--Violetblue), var(--Persianblue));
    }
    
    h2{
        color: var(--White);
        font-size: 3rem;
    }
    .scoresmark{
        font-size: 0.9rem;
        color: var(--Lightlavender);
    }
    
    h4{
        text-align: center;
        margin-top: 20px;
        font-size: 1.8rem;
        color: var(--White);
        font-weight: 500;
    }
    
    .marks{
        text-align: center;
        margin-top: 20px;
        font-size: 1.2rem;
        line-height: 25px;
        color: var(--Lightlavender);
    }

    .card2{
        width: 100%;
        padding: 1rem;
        text-align: center;
        margin-left: 10px;
    }

    .card2box{
        margin-left: 30px;
        margin-right: 30px;
    }

    
.sumheader{
    font-weight: 700;
    font-size: 1.5rem;
}

.databoard{
    margin-top: 20px;
}

.databox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
    padding: 20px 10px;
    border-radius: 5px;

}

.reaction{
    background-color: rgb(248, 236, 236);
}

.reaction p{
    font-size: 1rem;
    margin-left: 5px;
    font-weight: 700;
    color: var(--light-red);
}
span{
    color: var(--Lightlavender);
}

.memory{
    background-color:hsl(39, 100%, 96%);
}

.memory p{
    font-size: 1rem;
    margin-left: 5px;
    font-weight: 700;
    color: var(--Orangey-yellow);
}

.verbal{
    background-color: hsl(166, 63%, 95%);
}

.verbal p{
    font-size: 1rem;
    margin-left: 5px;
    font-weight: 700;
    color: var(--Green-teal);
}

.visual{
    background-color: hsl(232, 84%, 93%);
}

.visual p{
    font-size: 1rem;
    margin-left: 5px;
    font-weight: 700;
    color: var(--Cobalt-blue);
}

strong{
    color: black;
}
img{
    width: 15px;
}
.leftbox{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

button{
    padding: 15px 20px;
    margin-top: 30px;
    width: 100%;
    border-radius: 20px;
    border: none;
    background-color: var(--Darkgrayblue);
    color: var(--White);
    transition: 0.2s;
}



/* Desktop view */

@media only screen and (min-width: 768px) {


section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.innersection{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 420px;
    width: 600px;
    border-radius: 25px;
    box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.1);
}

.resultcard{
    display: flex;
    height: 100%;
    width: 100%;
}

.card1{
    background-image: linear-gradient(to top, var(--Light-royal-blue), var(--Light-slate-blue-));
    width: 300px;
    border-radius: 25px;
    height: 100%;
   
}

.card1text{
padding: 2rem;
}
h3{
    text-align: center;
    color: var(--Lightlavender);
    font-size: 1rem;
    margin-bottom: 30px;
}

.scoreboard{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}
.scorecenter{
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    border-radius: 50%;
    z-index: 100;
    text-align: center;
    background-image: linear-gradient(to bottom, var(--Violetblue), var(--Persianblue));
}

h2{
    color: var(--White);
    font-size: 3rem;
}
.scoresmark{
    font-size: 0.9rem;
    color: var(--Lightlavender);
}

h4{
    text-align: center;
    margin-top: 20px;
    font-size: 1.4rem;
    color: var(--White);
    font-weight: 500;
}

.marks{
    text-align: center;
    margin-top: 20px;
    font-size: 0.8rem;
    line-height: 20px;
    color: var(--Lightlavender);
}

/* Card 2 section */


.card2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1rem;
    width: 300px;
}

.card2box{
    margin-top: 30px;
   
}

.sumheader{
    font-weight: 700;
    font-size: 1rem;
    text-align: left;
}

.databoard{
    margin-top: 20px;
}

.databox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 230px;
    margin-top: 15px;
    padding: 15px 10px;
    border-radius: 5px;
}

.reaction{
    background-color: rgb(248, 236, 236);
}

.reaction p{
    font-size: 0.8rem;
    margin-left: 5px;
    font-weight: 700;
    color: var(--light-red);
}
span{
    color: var(--Lightlavender);
}

.memory{
    background-color:hsl(39, 100%, 96%);
}

.memory p{
    font-size: 0.8rem;
    margin-left: 5px;
    font-weight: 700;
    color: var(--Orangey-yellow);
}

.verbal{
    background-color: hsl(166, 63%, 95%);
}

.verbal p{
    font-size: 0.8rem;
    margin-left: 5px;
    font-weight: 700;
    color: var(--Green-teal);
}

.visual{
    background-color: hsl(232, 84%, 93%);
}

.visual p{
    font-size: 0.8rem;
    margin-left: 5px;
    font-weight: 700;
    color: var(--Cobalt-blue);
}

strong{
    color: black;
}
img{
    width: 15px;
}
.leftbox{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

button{
    padding: 15px 20px;
    margin-top: 30px;
    width: 100%;
    border-radius: 20px;
    border: none;
    background-color: var(--Darkgrayblue);
    color: var(--White);
    transition: 0.2s;
}

button:hover{
    background-image: linear-gradient(to top, var(--Light-royal-blue), var(--Light-slate-blue-));
}

}

/* Mobile and Desktop view */


